.code {
    // color: rgb(251, 121, 154);
    // padding: 2px 4px;
    // white-space: nowrap;
    // border-radius: 2px;
    // background-color: rgba(255, 255, 255, 0.17);
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: #656c7633;
    border-radius: 6px;
}